.linear-bg {
    background-image: url("images/bg_img.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
}

.checkin-bg{
    background-image: url("images/checkin.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.checkout-bg{
    background-image: url("images/checkout_bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.monthlypass-bg{
    background-image: url("images/monthly_pass_bg.avif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.height-full{
    height : 100vh;
}

.cover-div{
    background-color : rgb(47, 102, 125);
    height : 94.4vh;
}

.vertical-align{
    padding-top:200px;
}

