<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a href="/OneTimeCheckIn" class="navbar-item" href="">
            <img src="/images/pesulogo.png" width="90" height="28">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false"
            data-target="burger-icon-collapse">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="burger-icon-collapse" class="navbar-menu">
        <div class="navbar-end">
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    Check In
                </a>
                <div class="navbar-dropdown">
                    <a href="/OneTimeCheckIn" class="navbar-item">
                        One Time Check In
                    </a>
                    <a href="/ReCheckIn" class="navbar-item">
                        Re-Check In
                    </a>
                </div>
            </div>
            <a href="/CheckOut" class="navbar-item">
                Check Out
            </a>
            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link is-arrowless">
                    Monthly Pass
                </a>
                <div class="navbar-dropdown">
                    <a href="/RegCheckIn" class="navbar-item">
                        Registrant Check In
                    </a>
                    <a href="/NewRegApplication" class="navbar-item">
                        New Registrant Application
                    </a>
                </div>
            </div>
            <a href="" class="navbar-item">
                Manage
            </a>
        </div>
    </div>
</nav>