<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Continue to App</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<body style="height:101.6vh; width:100vw;" class="linear-bg">
    <div class="columns is-centered">
        <div class="column is-4 vertical-align">
            <div class="box">
                <h1 class="title is-1"><b>:-D</b></h1>
                <b>
                    <p>Welcome to the Parking Management System!</p><br>
                    <p>Click the Button to Proceed to the Application.</p>
                </b>
                <br>
                <a class="button is-primary" href="/OneTimeCheckIn">Continue -></a>
            </div>
        </div>
    </div>

</body>

</html>