<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Security</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<body class="height-full manage-bg">
    <%- include('partials/navbar.ejs') %>
        <div class="columns">
            <div class="column is-2">
                <aside class="menu white height-full">
                    <p class="menu-label">
                        Administrator
                    </p>
                    <ul class="menu-list">
                        <li><a>Add Administrator</a></li>
                    </ul>
                    <p class="menu-label">
                        Security
                    </p>
                    <ul class="menu-list">
                        <li><a>Add Security</a></li>
                        <li><a class="is-active">Remove Security</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="columns is-centered">
                    <div class="column is-4 vertical-align">
                        <div class="box">
                            <h1 class="title is-3 has-text-info-dark">Remove Security</h1>
                            <div class="field">
                                <label for="secId" class="label">Security ID</label>
                                <div class="control has-icons-left">
                                    <input id="secId" type="text" class="input" placeholder="Security ID">
                                    <span class="icon is-small is-left">
                                        <img src="/images/user.jpg" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="adminPswd" class="label">Administrator Password</label>
                                <div class="control has-icons-left">
                                    <input id="adminPswd" type="password" class="input" placeholder="Administrator Password">
                                    <span class="icon is-small is-left">
                                        <img src="/images/lock.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <button class="button is-danger">Add new Security</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>