<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Monthly Pass</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="main.css">
</head>

<body class="height-full manage-bg">
    <%- include('partials/navbar.ejs') %>
        <div class="columns">
            <div class="column is-2">
                <aside class="menu white height-full">
                    <p class="menu-label">
                        Administrator
                    </p>
                    <ul class="menu-list">
                        <li><a href="/ManageAdmin">Add Administrator</a></li>
                    </ul>
                    <p class="menu-label">
                        Security
                    </p>
                    <ul class="menu-list">
                        <li><a href="/AddSecurity">Add Security</a></li>
                    </ul>
                    <p class="menu-label">
                        MonthlyPass
                    </p>
                    <ul class="menu-list">
                        <li><a href="" class="is-active">Update MonthlyPass</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div class="columns is-centered">
                    <div class="column is-4 vertical-align">
                        <div id="box" class="box">
                            <h1 class="title is-3 has-text-info-dark">Update Monthly Pass</h1>
                            <div class="field">
                                <label for="srn" class="label">SRN</label>
                                <div class="control has-icons-left">
                                    <input id="srn" type="text" class="input" placeholder="SRN">
                                    <span class="icon is-small is-left">
                                        <img src="/images/user.jpg" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="regno" class="label">New Registration Number</label>
                                <div class="control has-icons-left">
                                    <input id="regno" type="text" class="input" placeholder="New Registration Number">
                                    <span class="icon is-small is-left">
                                        <img src="/images/regno.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <div class="field">
                                <label for="adminPswd" class="label">Administrator Password</label>
                                <div class="control has-icons-left">
                                    <input id="adminPswd" type="password" class="input" placeholder="Administrator Password">
                                    <span class="icon is-small is-left">
                                        <img src="/images/lock.png" alt="">
                                    </span>
                                </div>
                            </div>
                            <button id="update-button" class="button is-primary">Update Pass</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            var burger = document.querySelector('.navbar-burger');
            var menu = document.querySelector('#' + burger.dataset.target);
            burger.addEventListener('click', function () {
                burger.classList.toggle('is-active');
                menu.classList.toggle('is-active');
            });
        </script>
        <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
        <script src="js/UpdatePass.js"></script>
</body>

</html>